#page-room {
  header {
    padding: 1.5em;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 70em;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        min-height: 2.8em;
      }
    }
  }

  main {
    max-width: 50em;
    margin: 0 auto;

    .room-title {
      margin: 2em 0 1.5em;
      display: flex;
      align-items: center;

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 1.5em;
        color: #29292e;
      }

      span {
        margin-left: 1em;
        background: #e559f9;
        border-radius: 625em;
        padding: 0.5em 1em;
        color: #fff;
        font-weight: 500;
        font-size: 0.8em;
      }
    }
    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 1em;
        border-radius: 0.5em;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 8.2em;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 2em;
            height: 2em;
            border-radius: 50%;
          }

          span {
            margin-left: 0.5em;
            color: #29292e;
            font-weight: 500;
            font-size: 0.8em;
          }
        }

        > span {
          font-size: 0.8em;
          color: #737380;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #835afd;
            text-decoration: underline;
            font-size: 1em;
            cursor: pointer;
            font-weight: 500;
          }
        }
      }
    }
  }
}
